* {
  box-sizing: border-box;
}

body, button, input, textarea {
  font: 20px Trebuchet MS, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  background: #311212;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main {
  margin: auto;
  height: 80%;
  width: 70%;
  background: cornsilk;
  border-radius: 10px;
  padding: 22px;
}

#timePool {
  margin: auto;
  display: flex;
  width: 80%;
  height: 25px;
  background: wheat;
  border: 1px solid;
}

.poolUsed {
  background: pink;
  width: var(--portion);
}

#poolLeft {
  background: yellowgreen;
  flex: 1;
}

#poolMins {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

#investList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#investList li {
  border: 1px solid;
  width: 80%;
  border-radius: 5px;
  margin: 3px;
  padding: 4px 9px;
  background: white;
}

#btns {
  text-align: center;
}

#investList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0;
  overflow: hidden;
}

#investList .name {
  margin-left: 10px;
}

.bar {
  width: 40px;
  height: 40px;
  background: teal;
}